@import "./breakpoints";

@media screen and (max-width: $sm - 1) {
    h1 { font-size: 7vw; }
    h2 { font-size: 6vw;}
}

@media screen and (min-width: $sm) and (max-width: $md - 1) {
    h1 { font-size: 6vw; }
    h2 { font-size: 5vw;}
}

@media screen and (min-width: $md) and (max-width: $lg - 1) {
    h1 { font-size: 5vw; }
    h2 { font-size: 4vw;}
}

@media screen and (min-width: $lg) and (max-width: $xl - 1) {
    h1 { font-size: 4vw; }
    h2 { font-size: 3vw;}
}

@media screen and (min-width: $xl) and (max-width: $xxl - 1) {
    h1 { font-size: 3vw; }
    h2 { font-size: 2vw;}
}

@media screen and (min-width: $xxl) {
    h1 { font-size: 2vw; }
    h2 { font-size: 1.5vw;}
}